.alt-header {
  display: flex;
  justify-content: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  padding-top: 40px;
  align-items: center;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
  margin-left: 50px;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
  /* text-align: right; */
}
.alt-header__column:last-child span:not(:first-child) {
  margin-left: 10px;
}
