.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}
.nav_notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  /* display: block; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.nav__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 35px;
  bottom: 30px;
}
