.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  padding-top: 40px;
  align-items: center;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}
